// Ported from the Less source in the bootstrap-datetime

$gray:                   lighten(#000, 33.5%); // #555
$gray-light:             lighten(#000, 60%);   // #999
$gray-lighter:           lighten(#000, 93.5%); // #eee

$input-border:                   #ccc;

$brand-primary:                  #428bca;
$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);


$btn-link-disabled-color:        $gray-light;

$input-group-addon-bg:           $gray-lighter;
$input-group-addon-border-color: $input-border;

$state-info-bg:           #d9edf7;

$font-size-base:          14px;
$line-height-base:        1.428571429; // 20/14
$line-height-computed:    floor($font-size-base * $line-height-base); // ~20px
$border-radius-base:      4px;

$dropdown-bg:                   #fff;
$dropdown-border:               rgba(0,0,0,.15);


// Mixins

// Button variants
@mixin button-variant($color, $background, $border) {
    color: $color;
    background-color: $background;
    border-color: $border;

    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 25%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);
    }
    &:active,
    &.active,
    .open > .dropdown-toggle {
        color: $color;
        background-color: darken($background, 10%);
        border-color: darken($border, 12%);

        &:hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: darken($background, 17%);
            border-color: darken($border, 25%);
        }
    }
    &:active,
    &.active,
    .open > .dropdown-toggle {
        background-image: none;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: $background;
            border-color: $border;
        }
    }
}

.datepicker {
    border-radius: $border-radius-base;

    &-inline {
        width: 220px;
    }

    &-dropdown {
        top: 0;
        left: 0;
        padding: 4px;
        &:before {
            content: '';
            display: inline-block;
            border-left:   7px solid transparent;
            border-right:  7px solid transparent;
            border-bottom: 7px solid $dropdown-border;
            border-top:    0;
            border-bottom-color: rgba(0,0,0,.2);
            position: absolute;
        }
        &:after {
            content: '';
            display: inline-block;
            border-left:   6px solid transparent;
            border-right:  6px solid transparent;
            border-bottom: 6px solid $dropdown-bg;
            border-top:    0;
            position: absolute;
        }
        &.datepicker-orient-left:before   { left: 6px; }
        &.datepicker-orient-left:after    { left: 7px; }
        &.datepicker-orient-right:before  { right: 6px; }
        &.datepicker-orient-right:after   { right: 7px; }
        &.datepicker-orient-bottom:before { top: -7px; }
        &.datepicker-orient-bottom:after  { top: -6px; }
        &.datepicker-orient-top:before {
            bottom: -7px;
            border-bottom: 0;
            border-top:    7px solid $dropdown-border;
        }
        &.datepicker-orient-top:after {
            bottom: -6px;
            border-bottom: 0;
            border-top:    6px solid $dropdown-bg;
        }
    }
    > div {
        display: none;
    }
    table {
        margin: 0;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        tr {
            td, th {
                text-align: center;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                border: none;
            }
        }
    }
    // Inline display inside a table presents some problems with
    // border and background colors.
    .table-striped & table tr {
        td, th {
            background-color: transparent;
        }
    }
    table tr td {
        &.old,
        &.new {
            color: $btn-link-disabled-color;
        }
        &.day:hover,
        &.focused {
            background: $gray-lighter;
            cursor: pointer;
        }
        &.disabled,
        &.disabled:hover {
            background: none;
            color: $btn-link-disabled-color;
            cursor: default;
        }
        &.highlighted {
            //$highlighted-bg: $state-info-bg;
            @include button-variant(#000, $state-info-bg, darken($state-info-bg, 20%));
            border-radius: 0;

            &.focused {
                background: darken($state-info-bg, 10%);
            }

            &.disabled,
            &.disabled:active {
                background: $state-info-bg;
                color: $btn-link-disabled-color;
            }
        }
        &.today {
            //$today-bg: lighten(orange, 30%);
            @include button-variant(#000, lighten(orange, 30%), darken(lighten(orange, 30%), 20%));

            &.focused {
                background: darken(lighten(orange, 30%), 10%);
            }

            &.disabled,
            &.disabled:active {
                background: lighten(orange, 30%);
                color: $btn-link-disabled-color;
            }
        }
        &.range {
            //$range-bg: $gray-lighter;
            @include button-variant(#000, $gray-lighter, darken($gray-lighter, 20%));
            border-radius: 0;

            &.focused {
                background: darken($gray-lighter, 10%);
            }

            &.disabled,
            &.disabled:active {
                background: $gray-lighter;
                color: $btn-link-disabled-color;
            }
        }
        &.range.highlighted {
            //$range-highlighted-bg: mix($state-info-bg, $gray-lighter, 50%);
            @include button-variant(#000, mix($state-info-bg, $gray-lighter, 50%), darken(mix($state-info-bg, $gray-lighter, 50%), 20%));

            &.focused {
                background: darken(mix($state-info-bg, $gray-lighter, 50%), 10%);
            }

            &.disabled,
            &.disabled:active {
                background: mix($state-info-bg, $gray-lighter, 50%);
                color: $btn-link-disabled-color;
            }
        }
        &.range.today {
            //$range-today-bg: mix(orange, $gray-lighter, 50%);
            @include button-variant(#000, mix(orange, $gray-lighter, 50%), darken(mix(orange, $gray-lighter, 50%), 20%));

            &.disabled,
            &.disabled:active {
                background: mix(orange, $gray-lighter, 50%);
                color: $btn-link-disabled-color;
            }
        }
        &.selected,
        &.selected.highlighted {
            @include button-variant(#fff, $gray-light, $gray);
            text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        }
        &.active,
        &.active.highlighted {
            @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
            text-shadow: 0 -1px 0 rgba(0,0,0,.25);
        }
        span {
            display: block;
            width: 23%;
            height: 54px;
            line-height: 54px;
            float: left;
            margin: 1%;
            cursor: pointer;
            border-radius: 4px;
            &:hover {
                background: $gray-lighter;
            }
            &.disabled,
            &.disabled:hover {
                background: none;
                color: $btn-link-disabled-color;
                cursor: default;
            }
            &.active,
            &.active:hover,
            &.active.disabled,
            &.active.disabled:hover {
                @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
                text-shadow: 0 -1px 0 rgba(0,0,0,.25);
            }
            &.old,
            &.new {
                color: $btn-link-disabled-color;
            }
        }
    }

    .datepicker-switch {
        width: 145px;
    }

    .datepicker-switch,
    .prev,
    .next,
    tfoot tr th {
        cursor: pointer;
        &:hover {
            background: $gray-lighter;
        }
    }

    // Basic styling for calendar-week cells
    .cw {
        font-size: 10px;
        width: 12px;
        padding: 0 2px 0 5px;
        vertical-align: middle;
    }
}
.input-group.date .input-group-addon {
    cursor: pointer;
}
.input-daterange {
    width: 100%;
    input {
        text-align: center;
    }
    input:first-child {
        border-radius: 3px 0 0 3px;
    }
    input:last-child {
        border-radius: 0 3px 3px 0;
    }
    .input-group-addon {
        width: auto;
        min-width: 16px;
        padding: 4px 5px;
        font-weight: normal;
        line-height: $line-height-base;
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        vertical-align: middle;
        background-color: $input-group-addon-bg;
        border: solid $input-group-addon-border-color;
        border-width: 1px 0;
        margin-left: -5px;
        margin-right: -5px;
    }
}
