$error-color: #a94442;
$media-preview: 130px;
$standard-margin: 0.75rem;
$small-margin: 0.45rem;
$standard-bgd-color: #f5f5f5;
$standard-border-color: #e5e5e5;
$standard-input-border-color: #ccc;
$standard-border-radius: 0.25rem;
$standard-color: #373a3c;

img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.form-control.disabled {
    background-color: #fdfdfd;
    cursor: not-allowed;
    border-color: rgba($standard-input-border-color, 0.5);
}

select[multiple] {
    min-height: 180px;
}

.alert-info {
    border-left-width: 5px;
    border-color: $standard-border-color;
    background-color: #fff;
    color: $standard-color;
}

.nav-tabs {
    .nav-item {
        position: relative;
    }

    .nav-link {
        padding-right: 25px;
    }

    .locale-delete {
        position: absolute;
        top: 0px;
        right: 6px;
        color: #666;
    }
}


.dashboard-actions {
    @include clearfix;
}
.dashboard-actions--top {

}
.dashboard-actions--bottom {

}
* + .dashboard-content {
    margin-top: 1.5rem;
}

.dashboard-content {
    @include clearfix;
}

body.dashboard {
    padding-top: 50px;


    #site-structure {
        margin: 20px 0;
        border-top: 1px dotted #000;
    }

    /*
     * Top navigation
     * Hide default border to remove 1px line.
     */
    .navbar-fixed-top {
        border: 0;
    }

    .view-page {
        float: right;
        position: relative;
        top: -4px;
    }

    .box {
        padding: 20px;
        margin: 20px 0;
        border: 0.0625rem solid $standard-input-border-color;
        border-left-width: 5px;
        border-radius: $standard-border-radius;
    }

    .combo.card {
        .card-header {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
        }
    }

    .field-values,
    .field {
        margin-bottom: $standard-margin;
    }
    .field:after,
    .fields-group:after,
    .form-group:after {
        content: "\0020";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .cke {
        border-color: $standard-input-border-color;
        box-shadow: none;
        border-radius: $standard-border-radius;

        .cke_top,
        .cke_bottom {
            background-image:none;
            background-color: $standard-bgd-color;
            border-color: $standard-input-border-color;
            box-shadow:none;
        }
    }
    .sortable-item .cke {
        border-radius: 0;
    }

    .accordion {

        .accordion-header {
            cursor: pointer;
            position: relative;
            outline: none;

            .checkbox {
                display: inline-block;
                float: right;
                margin: 0;
                padding: 0 4px;
                border-radius: $standard-border-radius;

                &.hover {
                    background-color: $standard-input-border-color;

                }
            }
        }

    }

    .subnav {
        margin-bottom: $standard-margin;
    }

    .input-group {
        width: 100%;
    }
    .input-group .form-control:last-child {
        border-radius: $standard-border-radius;
    }

    .input-group > .card {
        margin-bottom: 0;
    }

    .form-control + .field-clone,
    .input-group + .field-clone,
    .form-control + .input-group,
    .input-group + .input-group,
    .form-control + .form-control {
        margin-top: $standard-margin;
    }
    .form-group.error .cke,
    .form-group .error .cke,
    .form-control.error,{
        border-color: $error-color;
    }

    .form-control.inline {
        width: auto;
    }


    .field-media .media-preview {
        width: $media-preview;
        height: $media-preview;
        float: left;
        margin-right: 20px;
    }

    .field-media .media-preview > img {
        max-width: 100%;
        max-height: 100%;
    }
    .field-media .media-preview ~ .file-name {
        margin-bottom: $small-margin;
    }

    .files + .field-add-file {
        margin-top: $standard-margin;
    }


    .field-datetime {
        position: relative;

        .calendar {
            display: none;
            position: absolute;
            bottom: 35px;
            background: #fff;
            z-index: 10;
            border: 1px solid #ccc;
            border-radius: 0.25rem;

            &.active {
                display: block;
            }
        }
    }

    .sortable-groups {
        margin-bottom: $standard-margin;
    }

    .sortable-handle,
    .field-remove {
        cursor: pointer;
    }

    .sortable-handle {
        cursor: ns-resize;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1;
        color: $standard-color;
        text-align: center;
        background-color: $standard-bgd-color;
        border: 1px solid #ccc;
        border-radius: $standard-border-radius;
    }
    .sortable-handle.input-group-addon:first-child {
        border-right:0;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    .ui-sortable-helper {
        display: table; /* sorts out width when sorting table rows */
    }

    .help-block {
        font-size: 0.9rem;
        display: block;
        margin-top: 2px;
        margin-bottom: $standard-margin;
        color: #737373;
    }

    .dropdown-menu {
        padding: 0;
        li {
            padding: 1px 0;
            border-bottom: inherit;
            &:last-child {
                border-bottom: none;
            }
        }
        .btn-block {
            text-align: left;
        }
    }

    .field-type-settings.disabled {
        opacity: 0.75;
    }

        /*
         * Sidebar
         */

    /* Hide for mobile, show later */
    .sidebar {
        display: none;
    }
    @media (min-width: 768px) {
        .sidebar {
            position: fixed;
            top: 51px;
            bottom: 0;
            left: 0;
            z-index: 1000;
            display: block;
            padding: 20px;
            overflow-x: hidden;
            overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
            background-color: $standard-bgd-color;
            border-right: 1px solid #eee;
        }
    }

    /* Sidebar navigation */
    .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
    }
    .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
    }
    .nav-sidebar > .active > a,
    .nav-sidebar > .active > a:hover,
    .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
    }


    /*
     * Main content
     */

    .main {
        padding: 20px;
    }
    @media (min-width: 768px) {
        .main {
            padding-right: 40px;
            padding-left: 40px;
        }
    }
    .main .page-header {
        margin-top: 0;
    }
}
