body.dashboard.media-browser {
    padding-top: 0;
}

body.dashboard {
    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-right: .25rem;
        margin-left: .25rem;
        vertical-align: middle;
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-left: 0.3em solid transparent;
    }

    .preview {
        max-width: 100%;
        box-sizing: border-box;
    }
}

#medialib {
    .modal-dialog {
        width: 94%;
        height: 94%;
    }
    .modal-content {
        height: 100%;
    }
    .modal-header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        width: 100%;
        z-index: 10;
    }
    .modal-body {
        height: 100%;
        padding: (15px+67px) 15px 15px 15px;
    }
    .media-library {
        height: 100%;
    }
}
#medialib-iframe {
    width: 100%;
    min-height: 700px;
    height: 100%;
}


body.medialib {

    #folders {
        border-top: 1px dotted #000;
    }

    .table-media {
        th {
            a {
                color: inherit;
                text-decoration: none;
                white-space: nowrap;
            }
        }
        th {
            vertical-align: bottom;
            padding: 0.75rem 0.25rem;
        }
        td {
            vertical-align: middle;
            padding: 0.25rem;
            &.actions {
                white-space: nowrap;
            }
        }
        img {
            max-width: 100px;
            max-height: 50px;
        }
    }

    .dashboard-actions--top {
        .search-form {
            float: right;
        }
    }

    &.medialib-modal {
        padding: 0;

        .main {
            padding: 0;
        }
    }
}

.pagination-media {
    display: block;
    text-align: center;

    .active {
    }
}

.media-item {
    display: inline-block;
    margin: 10px 20px;
    font-size: 12px;

    .thumb {
        display: block;
        margin: 0 auto;
    }

    .filename {
        display: block;
    }

    .filesize {
        color: #666;
        display: block;
            font-size: 10px;
    }

    .dz-progress {

    }

    &.dz-error {
        background: red;
    }

    .btn {
        font-size: 12px;
        padding: 3px;

        &::after {
            display: none;
        }
    }
}

.list {
    .media-item {
        display: block;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        line-height: 50px;
        .thumb {
            float: left;
            width: 50px;
            height: 50px;
        }
        .btn-group {
            float: left;
            margin-top: 14px;
            margin-left: 10px;
        }
        span {
            float: left;
            margin-left: 10px;
        }
    }
}

.media-library {
    display: table;
    width: 100%;
    border: none;
    border-collapse: collapse;

    > * {
        display: table-cell;
        vertical-align: top;
        text-align: left;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.media-library-sidebar {
    position: static !important;

    .buttons {
        width: 100%;
        background: red;

        button {
            width: 50%;
            float: left;
            border-radius: 0;

            &:first-child {
                border-right: 1px solid #000;
            }
        }
    }
}
